body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
    background-color: #d2d2d2; 
}
.login{  
        width: 300px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #ffffff;  
        border-radius: 15px ;  
      border-color: blue;
      height: 550px;
          
}  
h1{  
    text-align: center;  
    color: #272424;  
    padding: 10px;  
}  
label{  
    color: #434343;  
    font-size: 15px;  
} 

.wh:hover {
    transform: translateY(-10px);
}
footer {
    color: #a4a4a4;
}
.wh{
height: 100px;
margin-left: 50px;
transition: 0.6s;
}
.ghjk {
color: #a4a4a4;    
}

#Uname{  
    width: 300px;  
    height: 50px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    background-color: rgba(0, 255, 251, 0.534);
    
}  
#Pass{  
    width: 300px;  
    height: 50px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
   background-color: rgba(0, 255, 251, 0.534);
   margin: 0%;
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 55, 255);  
  
}  
span{  
    color: rgb(0, 255, 255);  
    font-size: 17px;  

}  
a{  
    float: right;  
    background-color: rgb(246, 255, 0);  
}  
button {
width: 200px;
height: 50px;
color: rgb(0, 0, 0);
background-color:rgb(138, 180, 248); ;
border-radius: 17px;  
padding-right: 7px;  
padding-left: 7px;  
font-size: 17px;  
border-color: rgb(255, 255, 255);
transition: 15s;



}
